h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}
.boarder{
    padding: 1em;
    background-color:#FFC470;
    border-radius: 25px;
    max-width: 800px;
    margin: auto;
}
body{
    background-image:url("images/Guitar.jpeg");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 0%;
}
p{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
}
.how{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tuner{
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #DD5746;
    border-radius: 20px;
    max-width: 800px;
    margin: auto;
}
.sound{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
hr{
    border: 0;
}
.Chords{
    display: flex;
    justify-content: center;
    opacity: .6;
}