h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    margin-top: 40px;
}
.boarder{
    padding: 1em;
    background-color:#FFC470;
    border-radius: 25px;
    max-width: 800px;
    margin: auto;
    opacity: .8;
}
body{
    background-image:url("images/Guitar.jpeg");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: 0%;
}
p{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
}
.how{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tuner{
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #DD5746;
    border-radius: 20px;
    max-width: 800px;
    margin: auto;
    opacity: .8;
}
.sound{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: .8;
}
hr{
    border: 0;
}
.Chords{
    display: flex;
    justify-content: center;
    opacity: .6;
}#link2{
    padding: 10px 25px;
    border-radius: 20px;
    background-color:#FFC470;
    color: black;
    border: none;
    transition-duration: 0.4s;
    font-family: "Poppins";
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    position: absolute;
    top: 40px;
    right: 20px;
    opacity: .8;
}
#link2:hover{
    background-color: #DD5746;
    color: white;
    cursor: pointer;
    opacity: .8;
}
#link1{
    padding: 10px 25px;
    border-radius: 20px;
    background-color:#FFC470;
    color: black;
    border: none;
    transition-duration: 0.4s;
    font-family: "Poppins";
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    position: absolute;
    top: 40px;
    left: 20px;
    opacity: .8;
}
#link1:hover{
    background-color: #DD5746;
    color: white;
    cursor: pointer;
    opacity: .8;
}
.footer{
    display: flex;
   justify-content: flex-end;
   background-color:#FFC470;
   color: black;
   padding: 10px 15px;
   font-weight: 600;
   font-size: small;
   width: 100%;
   position: fixed;
   bottom: 0px;
   right: 0;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   opacity: .8;
}